/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* overflow: hidden; */
}

body {
  font-family: Arial, sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
}

/* NAVBAR */
.navbar {
  width: 100%;
  background-color: rgb(51, 51, 224);
  border-bottom: solid 1px rgb(134, 145, 184);
}

.wrapper-navbar {
  /* border: solid 1px red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 1rem 0;
  width: 80%;
  margin: 0 auto;
}

.wrapper-navbar a {
  font-weight: bold;
  color: #fff;
  /* font-size: 1.8rem; */
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.wrapper-navbar .react-logo {
  color: #444343;
  background-color: #fff;
  border: solid 1px #fff;
  border-radius: 50%;
  padding: 0.1rem;
  font-size: 1.5rem;
}

.menu {
  width: 250px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  font-weight: 200;
  padding: 0.5rem;
  border-radius: 5px;
}

.menu a.active,
.menu a:hover {
  color: #fff;
  background-color: #000;
  font-weight: bold;
}

/* HERO */
.hero-section {
  height: 200px;
  width: 100%;
  background-color: rgb(51, 51, 224);
}

.hero-content {
  width: 40%;
  color: #fff;
  margin: auto;
  min-height: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content h1 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

/* DEVSAREA */
.devs-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
}

.card {
  border-radius: 10px;
  padding: 1rem;
  width: 48%;
  margin-top: 2rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.devs {
  background-color: rgb(240, 242, 245);

}

.employers {
  background-color: rgb(185, 204, 228);
}

.btn {
  /* border: solid 1px red; */
  width: 150px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
  color: #fff;
}

.card p {
  margin-top: 1rem;
}

.btn-jobs {
  background-color: #000;

}

.btn-emp {
  background-color: rgb(66, 66, 230);
}

/* JOBS AREA */
.jobs-area {
  background-color: rgb(235, 244, 255);
}

.wrapper-job-area {
  display: flex;
  flex-direction: column;
}

.wrapper-job-area h2 {
  color: rgb(66, 66, 230);
  text-align: center;
  margin: 2rem;
}

.content-job-area {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 1rem;

  position: relative;
}

.job-card {
  width: 32%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.job-card small {
  color: rgb(76, 76, 78);
  font-weight: bold;
  display: block;
  padding-bottom: 0.5rem;
}

.job-card h3 {
  /* color: rgb(66, 66, 230); */
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  font-size: large;
}

.job-card p {
  padding-bottom: 0.5rem;
  line-height: 1.5rem;
}

.job-card .show-full-desc {
  color: blue;
  cursor: pointer;
}

.job-card .salary {
  color: rgb(66, 66, 230);
  border-bottom: solid 1px gray;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}

.job-card .map {
  color: rgb(218, 49, 49);
}

.job-card .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-card .read-more {
  background-color: rgb(66, 66, 230);
  font-size: small;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.job-card .read-more a {
  color: #fff;
  font-weight: bold;

}


.btn-view-jobs {
  background-color: #000;
  align-self: center;
  width: 250px;
}

.view-all-jobs {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;

}

/* PAGE NOT FOUND */
.page-not-found-content {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  height: 100vh;
}

.exclamation {
  font-size: 4rem;
  margin: 2rem;
  color: rgb(209, 209, 20);
}

.page-not-found-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.page-not-found-content .go-back {
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 1rem;
  background-color: rgb(57, 57, 204);
}

/* Single Page Job */
.single-job {
  background-color: #EBF4FF;
  min-height: 100vh;
}

.back-arrow {
  color: rgb(56, 56, 214);
  background-color: #fff;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.single-job-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.single-job-main-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
}

.single-job-title {
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.single-job-type {
  display: block;
  margin-bottom: 1rem;
  color: rgb(138, 133, 133);
}

.single-job-location {
  display: block;
  margin-top: 1rem;
  color: rgb(196, 18, 18)
}

.single-job-description {
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.single-job-desc-title {
  color: rgb(66, 66, 230);
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

.single-job-desc {
  padding-bottom: 1rem;
  line-height: 1.5rem;
}

.single-job-salary {
  color: rgb(66, 66, 230);
  padding-bottom: 1rem;
  font-weight: bold;
}

.single-job-side-content {
  width: 35%;
}

.company-info {
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
}

.manage-job {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  margin-top: 1rem;
  border-radius: 10px;
}

.single-job-email,
.single-job-phone {
  display: block;
  width: 100%;
  background-color: #EBF4FF;
  padding: 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
}

.single-job-company-name {
  margin: 1rem 0;
  font-size: 1.5rem;
  color: #444343;
}

.single-job-company-desc {
  margin-bottom: 1.5rem;
}

.single-job-content .btn {
  width: 100%;
  border: none;
  color: #fff;
  font-weight: bold;
}

.single-job-content .btn-edit {
  background-color: rgb(66, 66, 230);
}

.single-job-content .btn-edit:hover {
  background-color: rgb(103, 103, 230);
}

.single-job-content .btn-delete {
  background-color: rgb(218, 49, 49);
}

.single-job-content .btn-delete:hover {
  background-color: rgb(230, 103, 103);
}

/* Add Job */
.add-job {
  background-color: rgb(236, 240, 245);
  min-height: 100vh;
  padding: 2rem 0 2rem 0;
}

.add-job-form {
  background-color: #fff;
  width: 40%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem 2rem;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-job-title {
  padding: 2rem 0 0;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form label {
  padding: 0.5rem 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.form input,
.form select,
.form textarea {
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  border: solid 1px gray;
}

.form input:focus,
.form select:focus,
.form textarea:focus {
  border: solid 2px rgb(107, 107, 216);
}

.form input,
.form textarea,
.form select {
  margin-bottom: 0.5rem;
}

.btn-add-job {
  width: 100%;
  border: none;
  background-color: rgb(83, 83, 226);
  font-weight: bold;
}

/* ERROR TEXT */
.error-text {
  color: red;
  font-weight: bold;
  padding: 0 0 0.5rem;
  font-size: smaller;
}

/* Media Query */
@media screen and (max-width: 768px) {
  .wrapper {
    width: 95%;
  }

  .menu {
    display: none;
  }

  .hero-content {
    width: 80%;
  }

  .devs-area {
    flex-direction: column;
  }

  .card {
    width: 90%;
  }

  .job-card {
    width: 80%;
  }

  .single-job-content {
    flex-direction: column;
  }

  .single-job-main-content,
  .single-job-side-content {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .content-job-area {
    position: relative;
    /* border: solid 1px red; */
  }

  .job-card .card-footer {
    flex-direction: column;
    align-items: baseline;
  }

  .job-card .read-more {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }


}